.App-logo {
  height: 30vh;
  width: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: 7s linear infinite App-logo-bounce;
  }
}

@keyframes App-logo-bounce {
  0% {
    transform: translateX(-60px) scaleX(1);
  }

  49.999% {
    transform: translateX(60px) scaleX(1);
  }

  50% {
    transform: translateX(60px) scaleX(-1);
  }

  99.999% {
    transform: translateX(-60px) scaleX(-1);
  }

  100% {
    transform: translateX(-60px) scaleX(1);
  }
}